body {
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

.container {
    border: 1px solid #38bdf8;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}